EXPO_PUBLIC_API_URL=http://your_local_ip:8000/api/v1

# Autenticación con Google (Firebase/Expo)
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_android_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com

# Rebill (Pagos Frontend)
EXPO_PUBLIC_REBILL_PUBLIC_KEY=your_rebill_public_key_here
