# La URL de tu base de datos Neon (Muestra)
DATABASE_URL=postgresql://usuario:contraseña@servidor.com/basedatos?sslmode=require&channel_binding=require

# Tu IP local de la computadora (usado para React Native / Expo con Docker)
MY_LOCAL_IP=192.168.X.X


SECRET_KEY=
ALGORITHM= 
ACCESS_TOKEN_EXPIRE_MINUTES= 
FRONTEND_URL=
ALLOW_ORIGINS = "*"

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=TU_IOS_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=TU_ANDROID_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=TU_WEB_CLIENT_ID.apps.googleusercontent.com

# Rebill Authentication
REBILL_API_KEY=sk_test_...

# Mercado Pago credentials
MP_PUBLIC_KEY=APP_USR-xxxxxx
