# La URL de tu base de datos Neon (Muestra)
DATABASE_URL=postgresql://usuario:contraseña@servidor.com/basedatos?sslmode=require&channel_binding=require

# Tu IP local de la computadora (usado para React Native / Expo con Docker)
MY_LOCAL_IP=192.168.X.X


SECRET_KEY=
ALGORITHM= 
ACCESS_TOKEN_EXPIRE_MINUTES= 
FRONTEND_URL=
ALLOW_ORIGINS=