# Base de Datos
DATABASE_URL=postgresql://user:password@host:port/dbname

# Seguridad JWT
SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200

# Rebill (Pagos)
REBILL_API_KEY=your_rebill_api_key_here
