# Roboflow Config (Reconocimiento de Patentes)
ROBOFLOW_API_KEY=your_roboflow_api_key_here
MODEL_ID=license-plates-xfeyr/1
PLATE_MODEL=global-plates-mobile-vit-v2-model

# Configuración de Conexión a Backend
BACKEND_URL=http://localhost:8000
PARKING_ID=5
ACCESS_TOKEN=your_admin_jwt_token_here

# Directorios Locales
OUTPUT_DIR=output
WEIGHTS_PATH=weights